/* ===============
     Main Body 
   =============== */

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
.working-container {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}
